/* ----------Common Styles---------- */

*,
*::before,
*::after { box-sizing: border-box; }

html { font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: 'Libre Franklin', sans-serif;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.grid {
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 'logo'
                      'announcement'
                      'form'
                      'image'
                      'footer';
  position: relative;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}


/* ----------Main Page Layout---------- */

.logo {
  grid-area: logo;
}
.announcement {
  grid-area: announcement;
}
.form {
  grid-area: form;
}
.image {
  grid-area: image;
}
footer {
  grid-area: footer;
}

article {
  padding-top: 1em;
}


/* ----------Header---------- */

header { margin: 1.5em 2em 0 2em; }

.logo {
  padding: 3em 0 0 0;
}
.logo img {
  width: 70%;
}


/* ----------Main .announcement---------- */

main { margin: .5em 2em; }

.announcement h1 {
  font-weight: 300;
  font-size: 2.3rem;
  color: hsl(0, 0%, 59%);
}
.announcement span {
  font-weight: 700;
  color: #000;
}
.announcement p {
  margin-top: 1.5em;
  font-size: 1.3rem;
}


/* ----------Main .form---------- */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5em 0 1.5em 0;
}
.form input {
  border-radius: 2.2rem;
  border: .1rem solid hsl(223, 100%, 88%);
  padding: .9em 3em;
  margin-bottom: .7em;
}
.form input,
.form button {
  width: 20em;
}
.form input::placeholder {
  color: hsl(223, 100%, 88%);
  font-family: 'Libre Franklin', sans-serif;
}
.form input .error {
  color: hsl(354, 100%, 66%);
  font-size: 1.3rem;
  margin: 0 auto;
}
.form input .success {
  color: hsl(223, 100%, 66%);
  font-size: 1.3rem;
  margin: 0 auto;
}
.form button {
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: hsl(223, 87%, 63%);
  border-radius: 2.2rem;
  border: .1rem solid hsl(223, 87%, 63%);
  box-shadow: .6rem .6rem 1rem rgba(113, 124, 151, 0.4);
  padding: .9em 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.form button:hover {
  background-color: hsl(223, 100%, 66%);
}
.form button:active {
  opacity: .5;
}


/* ----------Main .image---------- */

.image {
  margin-top: 1em;
}
.image img {
  width: 100%;
}


/* ----------Main .attribution---------- */

.attribution {
  font-size: 1.3rem;
  text-align: center;
  z-index: 2;
  position: absolute;
  writing-mode: vertical-lr;
  right: 0;
  top: 21.4em;
}
.attribution a {
  color: hsl(133, 34%, 51%);
  font-weight: 600;
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(133, 56%, 65%);
  text-decoration: underline;
}


/* ----------Footer---------- */

footer { margin: 1.3em 2em; }

.site-soc {
  margin-top: 2em;
  display: flex;
  align-items: center;
}
.socials .fa-brands {
  color: hsl(223, 87%, 63%);
  border: .1rem solid hsla(0, 0%, 59%, 0.2);
  border-radius: 50%;
  font-size: .7em;
  margin-left: .5em;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.socials:nth-of-type(1) .fa-brands {
  padding: .5em .7em;
}
.socials:nth-of-type(2) .fa-brands {
  padding: .5em .5em;
}
.socials:nth-of-type(3) .fa-brands {
  padding: .5em .6em;
}
.socials .fa-brands:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(223, 87%, 63%);
  border: .1rem solid hsl(223, 87%, 63%);
}

.copy {
  color: hsl(0, 0%, 59%);
  opacity: .5;
  font-size: 1.2rem;
  margin-top: .7em;
}


/* ----------Media Queries---------- */

@media (max-width: 767px) {
  .attribution {
    display: none;
  }
}

@media (min-width: 768px) {
  .grid {
    margin: 2em auto;
  }
  .logo img {
    width: 100%;
  }
  main {
    margin: 0 2em;
  }
  .image img {
    padding: 0 2em;
  }
  .form {
    flex-direction: row;
    justify-content: center;
    gap: .5em;
    margin-top: 1em;
  }
  .form input {
    margin-bottom: 0;
    margin-right: 1em;
    width: 27em;
  }
  .form button {
    width: 10em;
  }
  .attribution {
    top: 20em;
  }
  .socials .fa-brands {
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  .grid {
    padding: 0 6em;
  }
}

@media (min-width: 1440px) {
  .grid {
    padding: 0 10em;
  }
  .logo img {
    width: 100%;
  }
  main {
    margin: 0 2em;
  }
  .announcement h1 {
    font-size: 5rem;
  }
  .announcement p {
    font-size: 2rem;
  }
  .form {
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
  }
  .form input {
    padding: 1.2em 3em;
    width: 35em;
  }
  .form button {
    padding: 1.2em 0;
    width: 15em;
  }
  .image img {
    padding: 0 6em;
  }
  .attribution {
    top: 28em;
  }
  .socials .fa-brands {
    font-size: 1.1em;
  }
}